* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header p {
    font-style: italic;
}

section {
    border: 1px solid hsla(0, 0, 0, 0.5);
}

footer {
    font-size: 0.8em;
}